{% extends 'index.html' %}

{% block title %}:: Авторизация на сайте {% endblock %}

{% block head-extra %}
<STYLE type="text/css">
.login_form_ul {
    list-style: none;
    padding: 0;
}
</STYLE>
{% endblock %}

{% block loginblock %}
    <H3>Пожалуйста введите логин и пароль!</H3>
{% endblock %}

{% block form-navigation %} {% endblock %}

{% block currentplace %}<H2>Авторизация на сайте</H2>{% endblock %}

{% block main %}
<DIV class="span-22 last">
 {% if form.errors %}
    <P class="error">Не верный логин или пароль</P>
  {% endif %}

  <FORM action="{% url django.contrib.auth.views.login %}" method="POST">
  <UL class="login_form_ul">
    <LI><INPUT type="text" name="username" value="" id="username">&nbsp;&nbsp;&nbsp;<LABEL for="username">имя пользователя</LABEL></LI>
    <LI><INPUT type="password" name="password" value="" id="password">&nbsp;&nbsp;&nbsp;<LABEL for="password">пароль</LABEL></LI>
    <LI><INPUT type="submit" value="login" /><INPUT type="hidden" name="next" value="/" /></LI>
  </UL>
  </FORM>
</DIV>
{% endblock %}
