{% extends 'index.html' %}

{% block title %}:: Авторизация на сайте {% endblock %}

{% block head-extra %}
<STYLE type="text/css">
.login_form_ul {
    list-style: none;
    padding: 0;
}
</STYLE>
{% endblock %}

{% block loginblock %}
    <H3>Пожалуйста введите логин и пароль!</H3>
{% endblock %}

{% block form-navigation %} {% endblock %}

{% block currentplace %}<H2>Авторизация на сайте</H2>{% endblock %}

{% block main %}
<DIV class="span-22 last">
 {% if form.errors %}
    <P class="error">Не верный логин или пароль</P>
  {% endif %}

  <FORM action="{% url django.contrib.auth.views.login %}" method="POST">
  {% csrf_token %}
  <UL class="login_form_ul">
    <LI>{{ form.username }}&nbsp;&nbsp;&nbsp;{{ form.username.label_tag }}</LI>
    <LI>{{ form.password }}&nbsp;&nbsp;&nbsp;{{ form.password.label_tag }}</LI>
    <LI><INPUT type="submit" value="login" /></LI>
  </UL>
  <INPUT type="hidden" name="next" value="/" />
  </FORM>
</DIV>
{% endblock %}
