{% extends 'index.html' %}

{% load comments thumbnail disqus_tags  %}

{% block title %}:: {{ card.topic }}{% endblock %}


{% block main %}
<H1>{{ card.topic }}</H1>
<span class="card_owned_and_data" >
    Опубликовал {{ card.owner.username }} в {{ card.added|date:'H:i d.m.Y' }}
    {% if perms.cards.change_cards or user.pk == card.owner_id %}
        <A href="{% url admin:cards_cards_change  card.pk %}" class="work-link">Редактировать</A>
    {% endif %}
    {% if perms.cards.delete_cards %}
        <A title="Удалить &laquo;{{card.topic}}&raquo;" href="{% url admin:cards_cards_delete card.pk %}" class="work-link">Удалить</A>
    {% endif %}
</span>

<DIV class="span-24 last card_container">

    <P>
        {% if card.formatted %}
            {{ card.formatted|safe }}
        {% else %}
            {{ card.cardtext }}
        {% endif %}
    </P>
    {% with card.another_by_tag as another %}
    {% if another %}
    <h5 class="another">Еще статьи по {{ card.tag.title }}</h5>
    <ul class="another_ul">
    {% for i in another %}
      <li><a href="{{ i.get_absolute_url }}">{{ i.topic }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% if user.is_authenticated %}
        <UL class="card-actions">
            {% if perms.cards.change_cards %}
                <LI>
                    <A href="{% url admin:cards_cards_change  card.pk %}" class="work-link">Редактировать</A>
                </LI>
            {% endif %}
            {% if perms.cards.delete_cards %}
                <LI>
                    <A title="Удалить &laquo;{{card.topic}}&raquo;" href="{% url admin:cards_cards_delete card.pk %}" class="work-link">Удалить</A>
                </LI>
            {% endif %}
        </UL>
    {% endif %}


</DIV>
<DIV class="span-24 last card-comments">
    <H4 style="float: left">&nbsp;</H4>
    <!-- AddThis Button BEGIN -->
    <DIV class="addthis_toolbox addthis_default_style" style="float: right">
    <A href="http://www.addthis.com/bookmark.php?v=250&amp;username=xa-4bc2e4802b6ab544" class="addthis_button_compact work-link">Share</a>
    <SPAN class="addthis_separator">|</SPAN>
    <A class="addthis_button_twitter"></A>
    <A class="addthis_button_friendfeed"></A>
    <A class="addthis_button_google"></A>
    <A class="addthis_button_facebook"></A>
    </DIV>
    <SCRIPT type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4bc2e4802b6ab544"></SCRIPT>
    <!-- AddThis Button END -->
    <HR />
    {% disqus_dev %}
    {% disqus_show_comments %}
</DIV>
{% endblock %}
