{% extends 'index.html' %}
{% load comments thumbnail  %}
{% block title %}:: {{ card.topic }}{% endblock %}
{% block form-navigation %} {% endblock %}
{% block head-hide-code %} {% endblock %}
{% block currentplace %}<H2>{{ card.topic }}</H2>{% endblock %}
{% block main %}
<DIV class="span-16 card-detail">
    <P>{% if card.formatted %}{{ card.formatted|safe }}{% else %}{{ card.cardtext }}{% endif %}</P>
    {% if card.cardsimage_set.all %}
    <div style="margin-top:10px;border-top:1px dashed #7c7c7c;padding-top:5px;">
       {% for i in card.cardsimage_set.all %} 
        <a href="{{ i.image.url }}" style="border:0">
            <IMG style="padding:3px;border:1px solid black;" 
                src="{% thumbnail i.image 100x100 %}" />
                </a>
       {% endfor %}
    </div>
    {% endif %}
</DIV>
<DIV class="span-6 last">
    {% if user.is_authenticated %}
    <UL class="card-actions" style="text-align: left">
        {% if card.in_favorite %}
        <LI><A href="{% url cards.views.fav_del card.pk %}?from_details" class="work-link">Убрать из избранного</A></LI>
        {% else %}
        <LI><A href="{% url cards.views.fav_add card.pk %}?from_details" class="work-link">В избранное</A></LI>
        {% endif %}
        {% if perms.cards.change_cards %}
            <LI><A title="Редактировать &laquo;{{card.topic}}&raquo;" href="{% url cards.views.edit card.pk %}" class="work-link">Редактировать</A></LI>
        {% else %}{% ifequal user.pk card.owner_id %}
            <LI><A title="Редактировать &laquo;{{card.topic}}&raquo;" href="{% url cards.views.edit card.pk %}" class="work-link">Редактировать</A></LI>
        {% endifequal %}{% endif %}
        {% if perms.cards.delete_cards %}
            <LI><A title="Удалить &laquo;{{card.topic}}&raquo;" href="/admin/cards/cards/{{card.pk}}/delete/" class="work-link">Удалить</A></LI>{% endif %}
    </UL>
    {% endif %}
</DIV>
{% get_comment_count for card as comment_count %}
<DIV class="span-22 last card-comments">
    <H4 style="float: left"><A href="#comments" class="work-link">Комментарии [{{ comment_count }}]:</A></H4>
    <!-- AddThis Button BEGIN -->
    <DIV class="addthis_toolbox addthis_default_style" style="float: right">
    <A href="http://www.addthis.com/bookmark.php?v=250&amp;username=xa-4bc2e4802b6ab544" class="addthis_button_compact work-link">Share</a>
    <SPAN class="addthis_separator">|</SPAN>
    <A class="addthis_button_twitter"></A>
    <A class="addthis_button_friendfeed"></A>
    <A class="addthis_button_google"></A>
    <A class="addthis_button_facebook"></A>
    </DIV>
    <SCRIPT type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4bc2e4802b6ab544"></SCRIPT>
    <!-- AddThis Button END -->
    <HR />
    <A name="comments"></A>
    {% get_comment_list for card as comment_list %}
    <DIV class="comments">
        {% for comment in comment_list %}
        <A name="{{ comment.pk }}"></A>
        <H5>
            <A class="work-link" href="{% url users.views.details comment.user.username %}" title="Посмотреть профиль: {{ comment.user.username }}">{{ comment.user.username }}</A>
            <A class="comments-link work-link" href="#{{ comment.pk }}" title="Ссылка на комментарий">[#]</A>
        </H5>
        <DIV>{{ comment.comment }}</DIV>
        {% endfor %}
    </DIV>
    {% if user.is_authenticated %}
        {% get_comment_form for card as form %}
        <FORM action="{% comment_form_target %}" method="post">
            {% csrf_token %}
            {{ form.comment }} {{ form.honeypot }} {{ form.content_type }} {{ form.object_pk }} {{ form.timestamp }} {{ form.security_hash }}
            <INPUT type="submit" name="submit-post" class="submit-post" value="Запостить" />
            <INPUT type="hidden" name="next" value="{% url cards.views.details card.pk %}" />
        </FORM>
    {% endif %}
</DIV>
{% endblock %}
