/*Базовая cssка*/
/*Цвета*/
.back-cod { background-color: #C0D1DB; }
.bord-cod { border-color: #C0D1DB; }
.col-cod { color: #C0D1DB; }

.back-efb { background-color: #EFB654; }
.bord-efb { border-color: #EFB654; }
.col-efb { color: #EFB654; }

.back-573 { background-color: #573B09; }
.bord-573 { border-color: #573B09; }
.col-573 { color: #573B09; }

.work-link {
  color: #6C5933;
  text-decoration: none;
}
.work-link:hover {
  text-decoration: underline;
}
.work-link.work-link-visited:visited {
  color: #ACABAA;
}
.work-link.work-link-underline, .work-link.work-link-underline:visited {
  text-decoration: underline;
}

BODY {
  font-size: 62.5%;
}

/*Header*/
.header {
  font-family: 'Droid sans',Tahoma,sans-serif;
  margin-bottom: 30px;
}
.header H1 {
  font-size: 26px;
  text-align: right;
  margin: 66px 0 0 0;
  color: #573B09;
}

.logo {
  height: 95px;
  border: 1px solid #573B09;
  border-top-width: 0;
  background-color: #EFB654;
}
.logo, .logo A, .logo A:visited {
  color: #573B09;
  text-decoration: none;
}
.logo H2 {
  margin: 65px auto 0 5px;
  font-size: 20px;
}

.login-block {
  text-align: right;
  padding-top: 10px;
}
.login-block H3 {
  font-size: 12px;
}

/*Форма*/
.form-navigation {
  margin-bottom: 20px;
}
.post-form INPUT[type="text"], INPUT[type="submit"], TEXTAREA {
  border: 1px solid #285C82;
  margin: 0 0 10px 0;
}
.post-form INPUT[type="text"], .post-form TEXTAREA {
  width: 620px;
  padding: 5px;
}
.post-form TEXTAREA {
  height: 80px;
}
.post-form LABEL {
  font-size: 17px;
  font-family: "Droid sans",Tahoma,sans-serif;
}
/*Ошибки формы.*/
.errorlist {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Навигационные ссылки*/
.navigation UL {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 17px;
  font-family: "Droid sans",Tahoma,sans-serif;
}

.navigation LI {
  margin-right: 20px;
  float: left;
}
/*Поиск*/
.search INPUT {
  width: 100%;
}

/*Список топиков*/
.topics {
  border: 1px solid #285C82;
  background-color: #FFFFFF;
  margin: 0 20px 20px 20px;
  padding: 20px;
}
.card-container {
  margin-bottom: 40px;
  overflow: auto;
}
.card-left H5, .card-list H5 {
  margin: 0;
  color: #777777;
  font-size: 20px;
  font-family: "Droid sans",Tahoma,sans-serif;
}
.card-left H5 {
  text-align: right;
}
.card-actions {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
.card {
  margin-bottom: 30px;
  overflow: hidden;
}
.card H4 {
  margin: 0 0 10px 0;
  font-size: 24px;
  font-family: "Droid sans",Tahoma,sans-serif;
}
.card H4 A {
  color: black;
}
.card H4 A:visited {
  color: #777777;
}
.card H4 A:hover {
  color: #EFB654;
}
.card H5 {
  margin: 10px 0 5px 0;
}
.card .card-inner {
  padding-left: 20px;
}
.card PRE {
  font-size: 12px;
}
.card .card-comments {
  margin-top: 10px;
}
.card .work-link {
  font-size: 12px;
}
.card-list H5 {
  text-align: left;
}
.card-list UL {
  padding-left: 16px; 
  font-size: 12px;
}
/*Страница details*/
.card-detail {
  margin-bottom: 30px;
}
/*Комментарии*/
.comments H5 {
  margin: 0;
}
.comments .comments-link {
  font-size: 8px;
}
.comments DIV {
  margin-bottom: 25px;
}

/*Форма комментариев*/
INPUT[name="honeypot"] { display: none; }

TEXTAREA[name="comment"] {
  width: 860px;
  height: 75px;
  padding: 5px;
}
