/*Базовая cssка*/
/*Цвета*/

.back-cod { background-color: #C0D1DB; }
.bord-cod { border-color: #C0D1DB; }
.col-cod { color: #C0D1DB; }

.back-efb { background-color: #EFB654; }
.bord-efb { border-color: #EFB654; }
.col-efb { color: #EFB654; }

.back-573 { background-color: #573B09; }
.bord-573 { border-color: #573B09; }
.col-573 { color: #573B09; }

/*Header*/
.header {
  font-family: 'Droid sans',Tahoma,sans-serif;
}
.header H1 {
  font-size: 26px;
  text-align: right;
  margin: 66px 0 0 0;
  color: #573B09;
}

.logo {
  height: 95px;
  border: 1px solid #573B09;
  border-top-width: 0;
  background-color: #EFB654;
}
.logo, .logo A, .logo A:visited {
  color: #573B09;
  text-decoration: none;
}
.logo H2 {
  margin: 65px auto 0 5px;
  font-size: 20px;
}

.login-block {
  text-align: right;
  padding-top: 10px;
}
.login-block H3 {
  font-size: 12px;
}

/*Форма*/
.post-form INPUT[type="text"], INPUT[type="submit"], TEXTAREA {
  border: 1px solid #285C82;
}
.post-form INPUT[type="text"], .post-form TEXTAREA {
  width: 620px;
  padding: 5px;
}
.post-form TEXTAREA {
  height: 80px;
}

/*Навигационные ссылки*/
.navigation UL {
  list-style: none;
  border-left: 2px solid black;
  padding: 10px;
  margin: 25px 0 0 20px;
  font-size: 17px;
  font-family: "Droid sans",Tahoma,sans-serif;
}

/*Список топиков*/
.topics {
  border: 1px solid #285C82;
  background-color: #FFFFFF;
  margin: 20px;
  padding: 20px;
}

.topics .topics-inner {
}
