<!DOCTYPE HTML PUBLIC  "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
    <TITLE>{% if title %}{{title}}{% else %}База знаний и рещений{% endif %}</TITLE>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <LINK rel="stylesheet" href="/s/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <!--[if lt IE 8]><link rel="stylesheet" href="/s/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <LINK href="/s/css/main.css" rel="stylesheet" type="text/css">
    <SCRIPT type="text/javascript" src="/s/js/jquery.min.js"></SCRIPT>
</HEAD>
<BODY class="back-cod">
<DIV class="container">
    <!--Верхнее меню-->
    <DIV class="span-24 last header">
    {% block header %}
        <DIV class="span-1">&nbsp;</DIV>
        <DIV class="span-6 logo">
            <H2><A href="/">База знаний и заметок.</A></H2>
        </DIV>
        <DIV class="span-10">
            <H1>Узнал что-нибудь? Поделись!</H1>
        </DIV>
        <DIV class="span-6 login-block">
        {% if user.is_authenticated %}
            <H3>Hi, <A>{{ user.username }}!</A></H3>
        {% else %}
          <H3>Здарова Аноним! <A href="{% url django.contrib.auth.views.login %}">Войди</A> или <A href="{% url knowledge.users.views.register %}">Зарегистрируйся</A></H3>
        {% endif %}
        </DIV>
        <DIV class="span-1 last">&nbsp;</DIV>
    {% endblock %}
    </DIV>
{% comment %} 
    Конец хедера.
    Начало блок с формой и сортировками. 
{% endcomment %}
<DIV class="span-24 last">
    <DIV class="span-1">&nbsp;</DIV>
    <DIV class="span-16 post-form">&nbsp;
    {% block form %}
        {% if user.is_authenticated %}
            <FORM action="{% url knowledge.cards.views.index %}" method="POST">
            {% if postForm.topic.errors %}<DIV class="error">{{ postForm.topic.errors }}</DIV>{% endif %}
            <DIV>{{ postForm.topic }}</DIV>
            {% if postForm.cardtext.errors %}<DIV class="error">{{ postForm.cardtext.errors }}</DIV>{% endif %}
            <DIV>{{ postForm.cardtext }}</DIV>
            <DIV><INPUT type="submit" value="Пусть знают все!"/><SPAN class="new_card_form_other_link"> или пойти в зад</SPAN></DIV>
            </FORM>
        {% else %}
            <H2>Войдите на сайт чтобы оставить заметку!</H2>
        {% endif %}
    {% endblock %}
    </DIV>
    <DIV class="span-6 navigation">
    {% block navigation %}
        <UL>
            <LI><A>По дате публикации</A></LI>
            <LI><A>По рейтингу</A></LI>
            <LI><A>Избранное</A></LI>
        </UL>
    {% endblock %}
    </DIV>
    <DIV class="span-1 last">&nbsp;</DIV>
</DIV>
{% comment %} 
    Конец блока с формой.
    Начало вывода топиков.
{% endcomment %}
<DIV class="span-22 last topics">
    {% block currentplace%}
    <DIV class="span-16">
        <H2>Последние записи</H2>
    </DIV>
    {% endblock %}
    {% block search %}
    <DIV class="span-6 last">Поиск</DIV>
    {% endblock %}
    {% block main %}
    <DIV class="span-22 last">
        {% if cards %}
            {% for card in cards %}
                <DIV class="card">
                    <H4><A href="{% url knowledge.cards.views.details card.pk  %}">{{ card.topic }}</A></H4>
                    <HR>
                    <P>{{ card.cardtext }}</P>
                    <HR>
                    <DIV class="cards_added">Добавил <SPAN class="username">{{ card.owner.username }}</SPAN> {{ card.added|date:'d.m.Y в H:i' }}</DIV>
                </DIV>
            {% endfor %}
        {% else %}
            <H2>Ни одна собака!</H2>
        {% endif %}
    </DIV>
    {% endblock %}
</DIV>
<!--Копирайты-->
    <DIV class="span-24 last backc16 c14 bottom_panel">
        <DIV class="span-1">&nbsp;</DIV>
        <DIV class="span-22"> Владимир Владимирович &copy; </DIV>
        <DIV class="span-1 last">&nbsp;</DIV>
    </DIV>
</DIV>
</BODY></HTML>
