<!DOCTYPE HTML PUBLIC  "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
    <TITLE>{% if title %}{{title}}{% else %}База знаний и рещений{% endif %}</TITLE>
    <LINK href="/s/css/main.css" rel="stylesheet" type="text/css">
    <SCRIPT type="text/javascript" src="/s/js/jquery.min.js"></SCRIPT>
</HEAD>
<BODY>
    <DIV class="header">
        <DIV class="header_inner">
            <DIV class="header_content">
            {% block header %}
                <DIV class="header_left">
                    <H4><A href="/">База знаний и заметок.</A></H4>
                </DIV>
                <DIV class="header_right">
                {% if user.is_authenticated %}
                    <H4>Здарова, {{ user.username|escape }}!</H4>
                    <UL>
                        <LI><A href="/logout/" title="Выйти"><IMG alt="Выйти" src="/s/i/logout32.png"></A></LI>
                        <LI><A href="/settings/" title="Настройки"><IMG alt="Настройки" src="/s/i/settings32.png"></A></LI>
                        <LI><A href="/user/" title="Профиль"><IMG alt="Профиль" src="/s/i/users32.png"></A></LI>
                        <LI><A href="/favorites/" title="Избранное"><IMG alt="Избранное" src="/s/i/idea32.png"></A></LI>
                        <LI><A href="/new/" title="Написать"><IMG alt="Написать" src="/s/i/new32.png"></A></LI>
                    </UL>
                {% else %}
                  <H4>Здарова Аноним! <A href="/login/">Войди</A> или <A href="/register/">Зарегистрируйся</A></H4>
                {% endif %}
                </DIV>
            {% endblock %}
            </DIV>
        </DIV>
    </DIV>
    <DIV class="main"><DIV class="main_inner">
        {% block main %}
            {% if user.is_authenticated %}
                <H2>Записать мысль</H2>
                <DIV class="new_card_form_wrapper">
                    <FORM action="" method="POST">
                        {{ postForm.topic }}<BR>
                        {{ postForm.cardtext }}
                        <DIV><INPUT type="submit" value="Пусть знают все!"/> или пойти в зад</DIV>
                    </FORM>
                </DIV>
                <BR>
            {% endif %}
            <H2>Последние записи</H2>
            <DIV class="cards_container">
                {% if cards %}
                    <DIV class="cards_wrapper">
                    {% for card in cards %}
                        <DIV class="cards">
                            <H4>{{card.topic|escape}}</H4>
                            <HR>
                            <P>{{ card.cardtext|escape }}</P>
                            <HR>
                            <DIV class="cards_added">Добавил <SPAN class="username">{{card.owner.username|escape}}</SPAN> {{card.added|date:'d.m.Y в H:i'}}</DIV>
                        </DIV>
                    {% endfor %}
                    </DIV>
                {% else %}
                    <H2>Ни одна собака!</H2>
                {% endif %}
            </H2>

        {% endblock %}
    </DIV></DIV>
</BODY>
</HTML>
