<!DOCTYPE HTML PUBLIC  "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
    <TITLE>{% block title %}{% if title %}{{title}}{% else %}:: База знаний и решений{% endif %}{% endblock %}</TITLE>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <LINK rel="shortcut icon" href="/s/i/favicon.png">
    <LINK rel="stylesheet" href="/s/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <!--[if lt IE 8]><link rel="stylesheet" href="/s/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <LINK href="/s/css/main.css" rel="stylesheet" type="text/css">
    <SCRIPT type="text/javascript" src="/s/js/jquery.min.js"></SCRIPT>{% block head-extra %}{% endblock %}
</HEAD>
<BODY class="back-cod">
<DIV class="container">
    <!--Верхнее меню-->
    <DIV class="span-24 last header">
    {% block header %}
        <DIV class="span-1">&nbsp;</DIV>
        <DIV class="span-6 logo">
            <H2><A href="/">База&nbsp;знаний&nbsp;и&nbsp;заметок.</A></H2>
        </DIV>
        <DIV class="span-10">
            <H1>Узнал что-нибудь? Поделись!</H1>
        </DIV>
        <DIV class="span-6 login-block">
        {% block loginblock %}
        {% if user.is_authenticated %}
            <H3>Hi, <A href="{% url knowledge.users.views.details user.username %}" class="work-link work-link-underline">{{ user.username }}!</A></H3>
            <H3><A class="work-link" href="{% url django.contrib.auth.views.logout %}">выйти</A></H3>
        {% else %}
          <H3>Здарова Аноним! <A href="{% url django.contrib.auth.views.login %}" class="work-link work-link-underline">Войди</A> 
            или <A class="work-link work-link-underline" href="{% url knowledge.users.views.register %}">Зарегистрируйся</A></H3>
        {% endif %}
        {% endblock %}
        </DIV>
        <DIV class="span-1 last">&nbsp;</DIV>
    {% endblock %}
    </DIV>
{% comment %} 
    Конец хедера.
    Начало блок с формой и сортировками. 
{% endcomment %}
{% block form-navigation %}
<DIV class="span-24 last form-navigation">
    <DIV class="span-1">&nbsp;</DIV>
    <DIV class="span-22 post-form">
    {% if user.is_authenticated %}
        <FORM action="{% url knowledge.cards.views.index %}" method="POST">
        {% if postForm.topic.errors %}<DIV class="error">{{ postForm.topic.errors }}</DIV>{% endif %}
        <DIV><LABEL>{{ postForm.topic }} {{ postForm.topic.label }}</LABEL></DIV>
        {% if postForm.cardtext.errors %}<DIV class="error">{{ postForm.cardtext.errors }}</DIV>{% endif %}
        <DIV><LABEL>{{ postForm.cardtext }} {{ postForm.cardtext.label }}</LABEL></DIV>
        <DIV><INPUT type="submit" value="Пусть знают все!"/></DIV>
        </FORM>
    {% else %}
        <H2>Войдите на сайт чтобы оставить заметку!</H2>
    {% endif %}
    </DIV>
    <DIV class="span-1 last">&nbsp;</DIV>
</DIV>
{% endblock %}
{% comment %}
    Блок сортировок.
{% endcomment %}
{% block navigation %}
<DIV class="span-1">&nbsp;</DIV>
<DIV class="span-22 navigation">
    <UL>
        <LI><A class="work-link work-link-underline" href="{% url knowledge.cards.views.index  %}">По дате публикации</A></LI>
        <LI><A class="work-link work-link-underline" href="{% url knowledge.cards.views.rating  %}">По рейтингу</A></LI>
        {% if user.is_authenticated %}
            <LI><A class="work-link work-link-underline" href="{% url knowledge.cards.views.favorites  %}">Избранное</A></LI>
            <LI><A title="Редакитровать личные настройки" class="work-link work-link-underline" href="{% url knowledge.users.views.edit %}">Настройки</A></LI>
        {% endif %}
    </UL>
</DIV>
<DIV class="span-1 last">&nbsp;</DIV>
{% endblock %}
{% comment %} 
    Начало вывода топиков.
{% endcomment %}
<DIV class="span-22 last topics">
    <DIV class="span-16">
    {% block currentplace%}
        {% if currentplace %}<H2>{{currentplace}}</H2>{% else %}<H2>Последние записи</H2>{% endif %}
    {% endblock %}
    </DIV>
    <DIV class="span-6 last search">{% block search %}<INPUT type="text" value="Что ищем?">{% endblock %}</DIV>
    {% block main %}
    {% if cards.object_list %}
    {% load comments %}
    <A name="main"></A>
    <DIV class="span-22 last">
        {% for card in cards.object_list %}
        <DIV class="card-container">
            <DIV class='span-6 card-left'><A name="card{{card.pk}}"></A>
                <H5>{{ card.added|date:'d.m.Y' }} posted by</H5>
                <H5><A class="card-userlink" title="Посмотреть профиль &laquo;{{card.owner.username}}&raquo;" href="{% url knowledge.users.views.details card.owner.username %}">{{ card.owner.username }}</A></H5>
                {% if user.is_authenticated %}
                <UL class="card-actions">
                    {% if card.in_favorite %}
                    <LI><A href="{% url knowledge.cards.views.fav_del card.pk %}" class="work-link">Убрать из избранного</A></LI>
                    {% else %}
                    <LI><A href="{% url knowledge.cards.views.fav_add card.pk %}" class="work-link">В избранное</A></LI>
                    {% endif %}
                    {% if perms.cards.change_cards %}<LI><A href="" class="work-link">Редактировать</A></LI>{% endif %}
                    {% if perms.cards.delete_cards %}<LI><A href="" class="work-link">Удалить</A></LI>{% endif %}
                </UL>
                {% endif %}
            </DIV>
            <DIV class="span-16 last card"><DIV class="card-inner">
                <H4><A title="Посмотреть внимательнее" href="{% url knowledge.cards.views.details card.pk  %}">{{ card.topic }}</A></H4>
                {% if card.formatted %}{{ card.formatted|safe }}{% else %}{{ card.cardtext }}{% endif %}
                <DIV class="card-comments"><A title="Прочитать комментарии" href="{% url knowledge.cards.views.details card.pk  %}#comments" class="work-link">Прочитать обсуждение</A></DIV>
            </DIV></DIV>
        </DIV>
        {% endfor %}
        {% block pagination-bottom %}
        <DIV class="pagination">
            <SPAN class="step-links">
                {% if cards.has_previous %}
                    <A class="work-link work-link-underline" href="?page={{ cards.previous_page_number }}#main">Новее</A>
                {% endif %}
                <SPAN class="current">
                    Страница {{ cards.number }} из {{ cards.paginator.num_pages }}
                </SPAN>
                {% if cards.has_next %}
                    <A class="work-link work-link-underline" href="?page={{ cards.next_page_number }}#main">Старее</A>
                {% endif %}
            </SPAN>
        </DIV>
        {% endblock %}
    </DIV>
    {% else %}
        <H2>Нет заметок</H2>
    {% endif %}
    {% endblock %}
</DIV>
<!--Копирайты-->
    <DIV class="span-24 last backc16 c14 bottom_panel">
        <DIV class="span-1">&nbsp;</DIV>
        <DIV class="span-22"> Владимир Владимирович &copy; </DIV>
        <DIV class="span-1 last">&nbsp;</DIV>
    </DIV>
</DIV>{% if queries %}<PRE>{{ queries|pprint }}</PRE>{% endif %}
</BODY></HTML>
