{% extends 'index.html' %}

{% block title %}:: Пользователь: {{ viewed_user.username }}{% endblock %}

{% block head-extra %}<LINK href="/s/css/user.css" rel="stylesheet" type="text/css">{% endblock %}

{% block form-navigation %} {% endblock %}

{% block currentplace %}<H2>Профиль пользователя: {{ viewed_user.username }}</H2>{% endblock %}

{% block main %}
<DIV class="span-16 last">
{% if viewed_user.self_request %}
    <H4 class="user-title">Кеп, этож ваш профиль!</H4>
{% else %}
    <H4 class="user-title">Данные профиля.</H4>
{% endif %}
  <UL class="user-props">
    <LI>{{ viewed_user.username }}</LI>
    {% if perms.users.change_user or viewed_user.self_request %}
        <LI><A href="mailto:{{viewed_user.email}}">{{ viewed_user.email }}</A></LI>
    {% endif %}
    <LI>Зарегистрирован: {{ viewed_user.date_joined|date:'d.m.Y' }}</LI>
  </UL>
  {% if cards %}
    {% if not viewed_user.self_request %}
      <H4 class="user-title">Пользователь написал топики</H4>
    {% else %}
      <H4 class="user-title">Ваши топики</H4>
    {% endif %}
    <UL class="user-topics">
      {% for card in cards.object_list %}
        <LI><A href="{% url knowledge.cards.views.details card.pk %}">{{ card.topic }}</A></LI>
      {% endfor %}
    </UL>
    {% block pagination-bottom %}
    <DIV class="pagination">
        <SPAN class="step-links">
            {% if cards.has_previous %}
                <A class="work-link work-link-underline" href="?page={{ cards.previous_page_number }}#main">Новые топики</A>
            {% endif %}
            <SPAN class="current">
                Страница {{ cards.number }} из {{ cards.paginator.num_pages }}
            </SPAN>
            {% if cards.has_next %}
                <A class="work-link work-link-underline" href="?page={{ cards.next_page_number }}#main">Старые топики</A>
            {% endif %}
        </SPAN>
    </DIV>
    {% endblock %}
  {% else %}
    {% if not viewed_user.self_request %}
      <H4>Пользователь ничего не написал ;(</H4>
    {% else %}
      <H4>Вы ничего не написали ;(</H4>
    {% endif %}
  {% endif %}
</DIV>
{% endblock %}
