{% extends 'index.html' %}

{% block title %}:: Настройки {% endblock %}

{% block head-extra %}<LINK href="/s/css/settings.css" rel="stylesheet" type="text/css">{% endblock %}

{% block form-navigation %} {% endblock %}

{% block currentplace %}
<H2>Настройки профиля</H2>
{% endblock %}


{% block main %}
<DIV class="span-22 last">
<FORM action="{% url users.views.edit %}" method="POST">
  {% csrf_token %}
  <OL class="user-settings-ol">
    <LI>{{ form.email }}&nbsp;{{ form.email.label }}{% if form.email.errors %}<DIV class='error'>{{ form.email.errors }}</DIV>{% endif %}</LI>
    <LI>{{ form.password }}&nbsp;{{ form.password.label }}{% if form.password.errors %}<DIV class='error'>{{ form.password.errors }}</DIV>{% endif %}</LI>
    <LI>{{ form.passwordconfirm }}&nbsp;{{ form.passwordconfirm.label }}{% if form.passwordconfirm.errors %}<DIV class='error'>{{ form.passwordconfirm.errors }}</DIV>{% endif %}</LI>
  </OL>
  <P>
    {{ form.confirmemail }}&nbsp;{{ form.confirmemail.label }}{% if form.confirmemail.errors %}<DIV class='error'>{{ form.confirmemail.errors }}</DIV>{% endif %}
    </P>
  <INPUT type="submit" value="Сохранить">
</FORM>
</DIV>
{% endblock %}

